# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.gauge
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Temporary TLS certificates used for testing
testdata/triggers/certs/

# Temporary cosign public key used for testing
testdata/chains/key 

logs/

reports/

build/
/tmp/